<form [formGroup]="form">
  <div class="form-wrapper">

    <mat-form-field appearance="outline">
      <mat-label>Your Name</mat-label>
      <input matInput formControlName="name" [value]="reviewData?.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Your Comment</mat-label>
      <textarea matInput formControlName="comment" [value]="reviewData?.comment"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    (click)="sendData()">{{buttonName}}</button>
  </div>
</form>




