.feed-cont
  margin: 0 auto
  display: flex
  flex-direction: column
  max-width: 640px
  height: 100vh
  padding-left: 15px
  padding-right: 15px
  .app-title
    text-align: center
  .reviews-wrapper
    overflow: auto
    margin-bottom: 10px
  .user-avatar
    img
      width: 100%
  .user-info
    word-break: break-word
  .action-buttons
    display: flex
    &.invisible
      visibility: hidden

  &::ng-deep
    .mat-card-header-text
      width: 100%
    .mat-card
      box-shadow: 2px 3px 8px 0px black
      margin-bottom: 13px

::-webkit-scrollbar
  width: 2px

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 1px

::-webkit-scrollbar-thumb
  background: red
  border-radius: 1px

::-webkit-scrollbar-thumb:hover
  background: #b30000
