<div class="feed-cont">
  <h1 class="app-title">User Reviews</h1>
  <div class="reviews-wrapper">
    <mat-card *ngFor="let reviewsObj of userReviewsService.listOfReviews | async">
      <ng-template [ngIf]="!editingReview || reviewsObj.id !== editingReview.id" [ngIfElse]="editing">
        <mat-card-header>
          <div
            mat-card-avatar
            class="user-avatar">
            <img [src]="reviewsObj.avatar" alt="">
          </div>
          <mat-card-title class="user-info">{{reviewsObj.name}}</mat-card-title>
          <mat-card-subtitle class="user-info">{{reviewsObj.comment}}</mat-card-subtitle>
          <div
            [class.invisible]="!!editingReview"
            class="action-buttons">
            <button
              mat-icon-button
              (click)="editReview(reviewsObj)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="userReviewsService.deleteReview(reviewsObj.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-header>
      </ng-template>
    </mat-card>
  </div>
  <mat-card *ngIf="!editingReview">
    <app-add-edit-review
      (addReview)="userReviewsService.addNewReview($event)"></app-add-edit-review>
  </mat-card>
</div>

<ng-template #editing>
  <app-add-edit-review
    [review-data]="{name: editingReview.name, comment: editingReview.comment}"
    (edit)="updateWithEditedReview($event)"></app-add-edit-review>
</ng-template>
